:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebebe9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0 !important;
}
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.rootLayout {
  width: 100%;
  height: 100vh;
  display: flex;

  .sideBar {
    width: 300px !important;
    background-color: #ffffff;
    min-height: 100svh;
    border-radius: 5px;
    overflow: auto;
    position: relative;
    animation: fadeOutAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    .closeIcon {
      position: absolute;
      right: 0;
      z-index: 999;
      color: #b6b6b6;
      padding-top: 12px;
      padding-right: 10px;
      zoom: 80%;
      .icon {
        border: 1px solid #b6b6b6;
        border-radius: 5px;
      }
    }
  }
  .sideBarClose {
    background-color: #ffffff;
    max-height: 100svh;
    border-radius: 0 0 0 5px;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: auto;
    /* border-right: 0.1px solid #3c2f61; */
  }
  .mainDash {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    zoom: 95%;

    .navbar {
      width: 100%;
      zoom: 85%;
      margin-top: 15px;
      min-height: 50px;
      display: flex;
      align-items: center;
      .backIcon {
        /* padding-left: 15px; */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-radius: 10px;
        color: white;
        width: 66px;
        height: 50px;
        background-color: black;
      }
      .name {
        width: 100%;
        align-items: center;
        display: flex;
        padding-left: 25px;
        font-family: "Poppins";
        font-size: 25.93px;
        font-weight: 600;
        color: #000000;
      }
      .gpowrapper {
        .gpodrop {
          color: #ffffff;
          background-color: #000;
          border-radius: 10px;
          height: 50px !important;
          position: relative;
          width: 110px;
          margin-right: 10px;
          justify-content: center;
          text-align: center;
          font-family: "poppins";
          font-weight: 600;
          .MuiSvgIcon-root {
            color: #ffffff;
          }
          .MuiSelect-select {
            font-weight: 600;
            color: #ffffff;
          }
          :hover {
            cursor: pointer;
            background-color: white;
          }
        }
      }

      .hoswrapper {
        .hosdrop {
          color: #000;
          background-color: transparent;
          border-radius: 10px;
          border: 2px solid #00000059;
          z-index: 999;
          height: 50px;
          width: 260px;
          margin-right: 15px;
          margin-left: 10px;
          display: flex;
          justify-content: start;
          align-items: center;
          font-weight: 400;
          font-family: "poppins";
        }
      }
      .notIcon {
        border: 0.84px solid #00000059;
        border-radius: 10px;
        height: 45px;
        width: 50px;
        margin-right: 15px;
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: "100%";
  color: #1a1a1a;
  padding-top: 20px;
}

.hover {
  .menuItem:hover {
    cursor: pointer;
    color: #ea232b;
    min-height: 3.25rem;
    border-radius: 5px;
    background-color: #fbd7d9cf !important;
    
  }
  border: 1px solid;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  margin-left: 5px;
  .close {
    background-color: "black";
  }
  .menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 3.25rem;
    zoom: 85%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .menuIcon {
      min-height: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 25px;
      /* margin-top: 20px; */

      .menuborder {
        border: 3px solid #cac8c8;
        border-radius: 20%;
        height: 25px;
        zoom: 90%;
        padding: 10px;
      }
      .hoverMenu {
        cursor: pointer;
        color: #ea232b;
        font-family: "poppins";
        font-weight: 400;
        font-size: 14px;
        opacity: 0;
        text-align: center;
        padding-top: 2px;
        line-height: 0.75rem;
      }
    }

    .menuName {
      font-family: "Poppins";
      display: flex;
      width: 100%;
      font-weight: 400;
      padding-left: 25px;
    }
  }
}
.hovEff:hover {
  cursor: pointer;
  .hoverMenu {
    opacity: 1 !important;
    font-weight: 600 !important;
    color: #ea232b;
  }
  .menuItem {
    background-color: #fff;
  }

  .menuborder {
    color: #ea232b;
    border: 4px solid #ea232b !important;
    zoom: 80% !important;
    padding: 8px !important;
  }
}
.analybox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 500px;
  .leftbox {
    flex-direction: column;
    width: 70%;
    height: auto;
    padding: 5px;

    .top {
      border: 2px solid #d9d9d9;
      height: 410px;
      border-radius: 10px;
      background-color: #ffffff;
      .sortBy {
        min-height: 40px;
        display: flex;
        justify-content: end;
        align-items: center;
        font-family: "poppins";
        font-size: 14.18px;
        font-weight: 600;
        color: #000000;
        padding: 12px;

        .MuiFormControl-root {
          width: 139px;
          height: 36px;
          border-radius: 8.51px;
          font-size: small;
          padding-left: 10px;
        }
        .MuiPickersInputBase-root {
          width: 139px;
          height: 36px;
          border-radius: 8.51px;
          font-size: small;
        }
      }
      .graph {
        display: flex;
        flex-direction: row;
        width: 100%;
        .right {
          flex-direction: column;
          width: 50%;
          padding: 10px;
          .order:hover {
            cursor: pointer;
            background-color: #f3941e;
            zoom: 95%;
            opacity: 95%;
            .order-icon {
              background-color: #fff !important;
              color: #000;
              border: 0.75px solid #00000059;
            }
            .rightIconFade {
              opacity: 14%;
            }
          }
          .transac:hover {
            /* background-color: #EA232B; */
            cursor: pointer;
            background-color: #0077b6;
            zoom: 95%;
            opacity: 95%;
            .order-icon {
              background-color: #fff !important;
              color: #0077b6 !important;
              border: 0.75px solid #0077b6;
            }
            .rightIconFade {
              opacity: 14%;
            }
          }
          .g1,
          .g2 {
            border: 1px solid #d9d9d9;
            zoom: 95%;
            border-radius: 10px;
            height: 160.48px;
            padding-bottom: 5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            width: 100%;
            .leftportion {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-right: 15px;
              margin-left: 10px;
              margin-bottom: 10px;
              .logoIcon {
                font-size: 25px;
                border: 1px solid;
                min-height: 30px;
                width: 30px;
                border-radius: 10px;
                padding: 5px;
                margin-top: 5px;
                margin-bottom: 10px;
              }
              .label {
                font-size: 16.67px;
                line-height: 28.08px;
                font-weight: 400;
                font-family: "poppins";
                color: #000000;
                padding: 5px;
              }
              .count {
                font-size: 38.61px;
                line-height: 30.08px;
                font-weight: 600;
                font-family: "poppins";
                color: #000000;
                padding: 2px;
              }
            }
            .rightIconFade {
              opacity: 0.5;
              /* width: 50%; */
              /* font-size: 120px; */
              width: 112.31px;
              height: 112.31px;
              margin: 25px;
              color: #d9d9d9;
            }
          }
          .g2 {
            margin-top: 10px;
          }
        }
        .left {
          flex-direction: column;
          width: 50%;
          padding: 10px;
          .pending:hover {
            cursor: pointer;
            background-color: #ea232b;
            zoom: 95%;
            opacity: 95%;
            .order-icon {
              background-color: #fff !important;
              color: #ea232b !important;
              border: 0.75px solid #0077b6;
            }
            .rightIconFade {
              opacity: 14%;
            }
          }
          .request:hover {
            cursor: pointer;
            background-color: #ff7308;
            zoom: 95%;
            opacity: 95%;
            .order-icon {
              background-color: #fff !important;
              color: #ff7308 !important;
              border: 0.75px solid #0077b6;
            }
            .rightIconFade {
              opacity: 14%;
            }
          }
          .g3,
          .g4 {
            border: 1px solid #d9d9d9;
            zoom: 95%;
            border-radius: 10px;
            height: 151.48px;
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 160.48px;
            padding-bottom: 5px;
            width: 100%;
            .leftportion {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin-right: 15px;
              margin-left: 10px;
              .logoIcon {
                font-size: 25px;
                border: 1px solid;
                min-height: 30px;
                width: 30px;
                border-radius: 10px;
                padding: 5px;
                margin-top: 5px;
                margin-bottom: 10px;
              }
              .label {
                font-size: 18.67px;
                font-weight: 400;
                font-family: "poppins";
                color: #000000;
                padding: 5px;
              }
              .count {
                font-size: 38.61px;
                line-height: 30.08px;
                font-weight: 600;
                font-family: "poppins";
                color: #000000;
                margin-bottom: 20px;
              }
            }
            .rightIconFade {
              opacity: 0.5;
              width: 112.31px;
              height: 112.31px;
              color: #d9d9d9;
            }
          }
          .g4 {
            margin-top: 10px;
          }
        }
      }
    }
    .bottom {
      margin-top: 10px;
      border-radius: 10px;
      height: auto;
      border: 2px solid;
      background-color: #ffffff;
      padding: 10px;
      .header {
        min-height: 50px;
        display: flex;
        align-items: center;
        .heading {
          font-family: "poppins";
          font-size: 20.29px;
          font-weight: 600;
          margin-left: 25px;
          color: #000000;
        }
        .restheaders {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          .sortBy {
            font-family: "poppins";
            font-size: 14.18px;
            font-weight: 600;
            color: #000000;
            padding: 12px;
            align-items: center;
            display: flex;

            .MuiFormControl-root {
              width: 139px;
              height: 36px;
              border-radius: 8.51px;
              font-size: small;
              padding-left: 10px;
            }
            .MuiPickersInputBase-root {
              width: 139px;
              height: 36px;
              border-radius: 8.51px;
              font-size: small;
            }
          }
          .label {
            color: #1a1a1a;
            display: flex;
            justify-content: space-evenly;
            height: 5px;
            align-items: center;
            font-weight: 600;
            padding-left: 15px;

            .dot {
              font-size: 1px;
              border-radius: 25px;
              padding: 7px;
              width: auto;
              margin-right: 5px;
            }
          }
        }
      }
      .graphicalRep {
        width: 100%;
        color: #000000;
        z-index: 2;
        height: 350px;
        border-radius: 10px;
        margin-top: 20px;
        zoom: 95%;
      }
    }
  }
  .rightbox {
    flex-direction: column;
    height: auto;
    width: 30%;
    padding: 8px;
    .top {
      border-radius: 10px;
      border: 2px solid;
      background-color: #ffffff;
      height: 308px;
      margin-bottom: 10px;
      padding: 5px;
      .label {
        color: #21a945;
        display: flex;
        justify-content: end;
        height: 5px;
        align-items: center;
        font-weight: 600;
        zoom: 85%;
        display: flex;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 10px;

        .dot {
          font-size: 1px;
          border-radius: 25px;
          padding: 7px;
          width: auto;
          margin-right: 5px;
        }
      }
      .progress {
        margin-top: 10px;
        width: auto;
        padding-right: 15px;
        padding-left: 20px;
        .statusitems {
          display: flex;
          align-items: center;
          padding: 8px;
          margin-top: 10px;
          margin-bottom: 5px;
          font-family: "poppins";
          color: #000000;
          font-weight: 600;
          .goldIcon {
            background-color: #fffac9;
            color: #f3941e;
            height: 35.38px;
            width: 35.38px;
            border-radius: 100%;
            padding: 10px;
            zoom: 80%;

            justify-content: start;
            flex-basis: 10%;
          }
          .title {
            display: flex;
            flex-basis: 50%;
            padding-left: 25px;
            font-weight: 400;
          }
          .bold {
            font-weight: 600;
            display: flex;
            justify-content: end;
            flex-basis: 20%;
            font-size: 22px;
          }
          .icon {
            flex-basis: 10%;
          }
        }
      }
    }
    .bottom {
      height: auto;
      border-radius: 10px;
      border: 1px solid;
      background-color: #ffffff;
      padding: 10px;
      .credit-card {
        width: 100%;
        height: 175px;
        border-radius: 15px;
        background: linear-gradient(
          105deg,
          #841418 5%,
          #ea232b 60%,
          #f3941e 30%
        );
        color: white;
        font-family: "poppins";
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .credit-card-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
      }

      .max-credit p {
        font-size: 16px;
        margin: 0;
      }

      .max-credit h2 {
        margin: 5px 0 10px;
        font-size: 26px;
        font-weight: 600;
      }

      .amounts {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .used-amount p,
      .balance-credits p {
        font-size: 14px;
        margin: 0;
      }

      .used-amount h3,
      .balance-credits h3 {
        margin: 4px 0 0;
        font-size: 18px;
        font-weight: 600;
      }

      .used-amount {
        text-align: left;
      }

      .balance-credits {
        text-align: right;
      }
      .dueamount {
        border: 1px solid black;
        color: #000;
        zoom: 95%;
        display: flex;
        justify-content: space-evenly;
        min-height: 53px;
        font-family: "poppins";
        align-items: center;
        border-radius: 10px;
        margin-top: 10px;
      }
      .totalamount {
        color: #000000;
        font-family: "poppins";
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    width: 300px;
  }
  100% {
    width: 100px;
  }
}
@keyframes fadeOutAnimation {
  0% {
    width: 100px;
    opacity: 0.2;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}

/* custom css */
.css-1toxriw-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.white {
  background-color: white !important;
}

.activedot {
  display: inline-block;
  width: 35px;
  z-index: 999;
  zoom: 35%;
  height: 35px;
  border-radius: 50%;
  margin: 0 25px;
  position: relative;
}

.activedot::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  z-index: -1;
  animation: ripple 1.5s ease-out infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
    background-color: green;
  }
  to {
    opacity: 0;
    transform: scale(3);
    background-color: yellow;
  }
}

.hosIconWrap {
  border: 1px solid #efeeee;
  zoom: 85%;
  padding: 2px;
  border-radius: 50%;
  color: white;
  background-color: #efeeee;
}
